@import '../node_modules/@syncfusion/ej2-base/styles/fluent.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/fluent.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/fluent.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/fluent.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/fluent.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/fluent.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/fluent.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/fluent.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/fluent.css"; 

.App {
  height: 100vh;
  background-color: #eaf609;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}



.Header-app {
  height: 20vh;
  background-color: red;
}

.Body-app {
  height: auto;
  background-color: white;
}

.Footer-app {
  height: 10vh;
  background-color: blue;
}


.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  background-color: red;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;  
  background-color: white;
}

.box .row.footer {
  flex: 0 1 40px;
  background-color: blue;
}